{% extends 'questionnaire/layout.html' %}
{% block contents %}
{% if user.is_authenticated %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<style>
a:visited {
  color:blue;
}
</style>
<script type="text/javascript"> 
<!--
$(document).keydown(function(event){
     if ( event.keyCode == 13 && event.ctrlKey ) {
                 $("form input:text").val("test");
                 $("form textarea").val("test");
                 $("form input:radio:first-child").attr("checked", true);
                 $("form input:checkbox").attr("checked", true);
                 $("#id_participant_phone").val("");
                 $("#id_participant_name").val("");
         }});
-->
</script>
{% endif %}
<script>
<!--
{% if not form.errors %}
$( document ).ready(function() {
    $(document.getElementsByTagName('form')).find('input:text, input:password, input:file, select, $
    $(document.getElementsByTagName('form')).find('input:radio, input:checkbox').removeAttr('checke$
});
{% endif %}
-->
</script>
<div id="page">
<h1 style="text-align:left;">{{ name }}<a style="float:right;" href="">Reset</a></h1>
{{ introduction }}
<form action="" method="post">{% csrf_token %}
{% for field in form %}
{% if field.label != "html" %}
    <p>
        {{ field.label_tag }} {{ field.errors }} {{ field }} {{ field.help_text }}
    </p>
{% elif field.label == "html" %}
{{ field.help_text }}
{% endif %}
{% endfor %}
<p><button type="submit">OK</button></p>
</form>
</div>
{% endblock %}
