Django>=1.6.3
MySQL-python>=1.2.5
Pillow>=2.4.0
beautifulsoup4>=4.3.2
-e git+https://github.com/TND/django-files-widget#egg=django-files-widget
-e hg+https://bitbucket.org/syfou/django-groupcache#egg=django-groupcache
pycups>=1.9.66
python-ldap>=2.4.15
python-memcached>=1.53
-e git+https://github.com/mariocesar/sorl-thumbnail#egg=sorl-thumbnail
